<form action="recommend" method="get">
    Enter user email:<input type="text" id="email" name="email">
    <br><br>
    <input type='submit' value="Recommend">
</form>
<br>
<br>
<form action="rate" method="get">
    Enter your rating:<input type="text" id="rating" name="rating">
    <br><br>
    <input type='submit' value="Rate">
</form>
<br>
<form action="playlist-add" method="get">
    Choose playlist:<input type="text" id="playlist" name="playlist">
    <br><br>
    <input type='submit' value="Add to playlist">
</form>